<h2 mat-dialog-title>Cargue las correcciones del estudiante</h2>
<mat-dialog-content class="mat-typography">
    <mat-divider></mat-divider>
    <form [formGroup]="form" style = "display: flex; flex-direction: column; height: 70%;">
        <div style="height: 50%;">
          <input type="file" formControlName="file" id = "fileInput" name="fileInput" (change)="onFileSelected($event)">
        </div>
        <mat-form-field class="full-width input-margin">
            <mat-label>Ingrese algun comentario:</mat-label>
            <input matInput placeholder="..." value = "" formControlName = "comments">
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button style="background-color: rgb(245, 171, 21)" cdkFocusInitial (click)="reenviarPropuesta()">Reenviar</button>
</mat-dialog-actions>