
<div style="width: 100%; height: 100%;">
    <app-navbar></app-navbar>
  
    <mat-drawer-container style="width: 100%; margin: 0px; border: 1px solid #555; height: 77%;">
        <mat-drawer mode="side" opened style="width: 20%;">
            
            
            <mat-list role="list">
                <div mat-subheader><strong>Generadores</strong></div>
                <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/intership/generar/planilla/datos">Planilla de Datos</button></mat-list-item>
            </mat-list>
  
            <mat-divider></mat-divider>
  
        </mat-drawer>
        <mat-drawer-content style="display: flex; justify-content: center; margin: 0px 20px;">

            <form [formGroup]="pasantiaForm" class="container" style="display: flex; justify-content: center; flex-direction: column; background-color: aliceblue; width: 100%;">
                <h1 style="display: flex; justify-content: center;"><strong>Seleccione los datos</strong></h1>
                <!-- Zona de la cedula -->
                <mat-form-field style="width: 100%;">
                    <mat-label>Empresa</mat-label>
                    <mat-select formControlName = "empresaId" (selectionChange)="onSelectionChange()" [(value)]="empresaSelected">
                    <mat-option *ngFor="let empresa of empresaList" [value]="empresa.enterpriseid">
                        {{ empresa.enterpriseName }} 
                    </mat-option>
                </mat-select>
                </mat-form-field>
         
                <mat-form-field style="width: 100%;" *ngIf= "empresaSelected" >
                    <mat-label>Tutor Empresarial</mat-label>
                    <mat-select formControlName = "tutorEmpresarialId">
                    <mat-option *ngFor="let external of externalList" [value]="external.userDNI">
                        {{  external.userLastName + ", " + external.userFirstName  + "/ " + external.userDNI}} 
                    </mat-option>
                </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 100%;">
                    <mat-label>Ingrese la fecha en la que comenzara y terminara la pasantía</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="fechaInicio" placeholder="Fecha de Inicio">
                        <input matEndDate formControlName="fechaFinal" placeholder="Fecha de Culminacion">
                      </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

                <button mat-raised-button color = "primary" class="full-width" type="submit" (click)="generarPlanilla()">Generar </button>
            </form>
        </mat-drawer-content>
    </mat-drawer-container>
  
    <app-footer></app-footer>
  </div>
  