<h2 mat-dialog-title>Ingrese los datos del Cómite de Trabajo de Grado</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="comiteForm" style="display: flex; flex-direction: column;" *ngIf="cargadoArchivos == false">

        
        <mat-form-field class="full-width input-margin" *ngIf="!isEditMode">
            <mat-label>Ingrese el código del Comite de Trabajo de Grado:</mat-label>
            <input formControlName = "committeeId" matInput placeholder="001-2024-2025" value = "" >
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <mat-label>Ingrese la fecha de Comite</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="committeeDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div style="height: 50%;" *ngIf="data?.mode !== 'EDITAR'">
            <h3 style="margin-top: 15px;">Cargue el Acta de Comite de Trabajo de Grado</h3>
            <mat-divider></mat-divider>
            <input style = "margin-top:  10px;" type="file" formControlName="committeeFile" id = "fileInput" name="fileInput" (change)="onFileSelected($event)">
        </div>
    </form>
    <div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
        <mat-spinner *ngIf="cargadoArchivos == true"></mat-spinner>
    </div>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close *ngIf="cargadoArchivos == false">Cancel</button>
  <button mat-raised-button color="primary" (click)="agregarComite()" *ngIf="data == null && cargadoArchivos == false">Agregar Comité</button>
  <button mat-raised-button color="primary" (click)="modificarComite()" *ngIf="data != null && data.mode == 'EDITAR' && cargadoArchivos == false">Modificar Comité</button>
</mat-dialog-actions>