<h2 mat-dialog-title>Datos asociados a la propuesta</h2>
<mat-dialog-content class="mat-typography">
  <p *ngIf="studentCount < 2"><strong>Datos del estudiante</strong></p>
  <p *ngIf="studentCount >= 2"><strong>Datos de los estudiantes </strong></p>
  <mat-divider></mat-divider>
  <p >{{'Nombre completo: ' + inputdata.user[0].userLastName + ', ' + inputdata.user[0].userFirstName }}</p>
  <p >{{'Cedula de identidad: ' + inputdata.user[0].userDNI }}</p>
  <p >{{'Correo UCAB: ' + inputdata.user[0].userEmail }}</p>
  <p >{{'Número de teléfono: ' + inputdata.user[0].userPhone }}</p>
  <mat-divider *ngIf="studentCount >= 2"></mat-divider>
  <p *ngIf="studentCount >= 2">{{'Nombre completo: ' + inputdata.user[1].userLastName + ', ' + inputdata.user[1].userFirstName }}</p>
  <p *ngIf="studentCount >= 2">{{'Cedula de identidad: ' + inputdata.user[1].userDNI }}</p>
  <p *ngIf="studentCount >= 2">{{'Correo UCAB: ' + inputdata.user[1].userEmail }}</p>
  <p *ngIf="studentCount >= 2">{{'Número de teléfono: ' + inputdata.user[1].userPhone }}</p>
  <p><strong>Datos del Trabajo de Grado</strong></p>
  <mat-divider></mat-divider>
  <p>{{'Título: ' + inputdata.graduatework.graduateWorkTitle }}</p>
  <p>{{'Tipo: ' + inputdata.graduatework.graduateWorkType }}</p>
  <p>{{'Organización donde se realizará: ' + enterpriseData?.enterpriseName }}</p>
  <p>{{'Posible tutor academico: ' + academicTutorData?.userLastName + ", " + academicTutorData?.userFirstName}}</p>

  <h3><strong>Planilla de Evaluacion de Trabajo de Grado</strong></h3>
  <mat-divider></mat-divider>
  <p>Para descargar la Planilla de Evaluacion de Trabajo de Grado,haga click en descargar:</p>
  <button mat-button (click)="obtenerPlanillaEvaluacion()">Descargar</button>
  <p></p>
  
  <h3><strong>Informe de Propuesta de Trabajo de Grado</strong></h3>
  <mat-divider></mat-divider>
  <p>Para descargar el Informe de Propuesta de Trabajo de Grado haga, click en descargar:</p>
  <button mat-button (click)="obtenerInformePropuesta()">Descargar</button>
  <p></p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="openReviewerEvaluationDialog()">Evaluar Propuesta</button>
</mat-dialog-actions>
