<h2 mat-dialog-title>Datos asociados a la propuesta</h2>
<mat-dialog-content class="mat-typography"
>
  <p *ngIf="!isGrupal && !cargadoArchivos"><strong>Datos del estudiante</strong></p>
  <p *ngIf="isGrupal  && !cargadoArchivos"><strong>Datos de los estudiantes</strong></p>
  <mat-divider *ngIf="!cargadoArchivos"></mat-divider>
  <p *ngIf="!cargadoArchivos">{{'Nombre completo: ' +  inputdata.user[0].userLastName + ', ' + inputdata.user[0].userFirstName}}</p>
  <p *ngIf="!cargadoArchivos">{{'Cedula de identidad: ' +  inputdata.user[0].userDNI}}</p>
  <p *ngIf="!cargadoArchivos">{{'Correo UCAB: ' +  inputdata.user[0].userEmail}}</p>
  <p *ngIf="!cargadoArchivos">{{'Número de teléfono: ' +  inputdata.user[0].userPhone }}</p>
  <mat-divider *ngIf="isGrupal && !cargadoArchivos"></mat-divider>
  <p *ngIf="isGrupal && !cargadoArchivos">{{'Nombre completo: ' +  inputdata.user[1].userLastName + ', ' + inputdata.user[1].userFirstName}}</p>
  <p *ngIf="isGrupal && !cargadoArchivos">{{'Cedula de identidad: ' +  inputdata.user[1].userDNI}}</p>
  <p *ngIf="isGrupal && !cargadoArchivos">{{'Correo UCAB: ' +  inputdata.user[1].userEmail}}</p>
  <p *ngIf="isGrupal && !cargadoArchivos">{{'Número de teléfono: ' +  inputdata.user[1].userPhone }}</p>

  <p *ngIf="!cargadoArchivos"><strong>Datos del Trabajo de Grado</strong></p>
  <mat-divider *ngIf="!cargadoArchivos"></mat-divider>
  <p *ngIf="!cargadoArchivos">{{'Título: ' +  inputdata.graduatework.graduateWorkTitle}}</p>
  <p *ngIf="!cargadoArchivos">{{'Tipo: ' +  inputdata.graduatework.graduateWorkType}}</p>
  <p *ngIf="!cargadoArchivos">{{'Organización donde se realizará: ' + this.enterpriseData.enterpriseName}}</p>
  <p *ngIf="!cargadoArchivos">{{'Posible tutor academico: ' + this.coordinatorData.userLastName + ', ' + this.coordinatorData.userFirstName }}</p>
  
  <h3 *ngIf="!cargadoArchivos"><strong>Informe de Propuesta de Trabajo de Grado</strong></h3>
  <mat-divider *ngIf="!cargadoArchivos"></mat-divider>
  <p *ngIf="!cargadoArchivos">Para descargar el Informe de Propuesta de Trabajo de Grado haga, click en descargar:</p>
  <button mat-button (click)="obtenerInformePropuesta()" *ngIf="!cargadoArchivos">Descargar</button>
  <p *ngIf="!cargadoArchivos"></p>
  <div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
    <mat-spinner *ngIf="cargadoArchivos == true"></mat-spinner>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close *ngIf="cargadoArchivos == false">Cancel</button>
  <button mat-button style="background-color: red;" cdkFocusInitial (click)="veredictoPropuesta('rechazar')" *ngIf="cargadoArchivos == false">Rechazar</button>
  <button mat-button style="background-color: green;" cdkFocusInitial (click)="veredictoPropuesta('aprobar')" *ngIf="cargadoArchivos == false">Aprobar</button>
</mat-dialog-actions>
