
<div style="width: 100%; height: 100%;">
  <app-navbar></app-navbar>

  <mat-drawer-container style="width: 100%; margin: 0px 0 px; border: 1px solid #555; height: 77%;">
      <mat-drawer mode="side" opened style="width: 20%;">
          
          
          <mat-list role="list">
              <div mat-subheader><strong>Generadores</strong></div>
              <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/graduatework/generar/planilla/datos">Planilla de Datos</button></mat-list-item>
          </mat-list>

          <mat-divider></mat-divider>

      </mat-drawer>
      <mat-drawer-content>
        <div *ngIf="!hasGraduateWork" style="background-color: #fbfbfb; height: 81%; display: flex; align-items: center; justify-content: center;">
          <h1> Usted no ha empezado su proceso de trabajo de grado</h1>
        </div>
        
            <!-- Cambio de pantallas -->
            <div *ngIf="hasGraduateWork && graduateWorkList?.graduateWorkStatusCode == 10 || graduateWorkList?.graduateWorkStatusCode == 12" style="background-color: #fbfbfb; height: 81%; display: flex; align-items: center; justify-content: center;">
              <h1>Tiene un Trabajo de Grado Pendiente por Revision de Coordinador</h1>
            </div>
        
            <div *ngIf="hasGraduateWork && graduateWorkList?.graduateWorkStatusCode == 20" style="background-color: #fbfbfb; height: 81%; display: flex; align-items: center; justify-content: center;">
              <h1>Propuesta de Trabajo de Grado Pendiente por Revisión de Comité de Trabajo de Grado </h1>
            </div>
        
            <div *ngIf="hasGraduateWork && graduateWorkList?.graduateWorkStatusCode == 30" style="background-color: #fbfbfb; height: 81%; display: flex; align-items: center; justify-content: center;">
              <h1>Propuesta de Trabajo de Grado Pendiente por Revisiones de Profesor Revisor </h1>
            </div>
        
            <div *ngIf="hasGraduateWork && graduateWorkList?.graduateWorkStatusCode == 40" style="background-color: #fbfbfb; height: 81%; display: flex; align-items: center; justify-content: center;">
              <h1>Propuesta de Trabajo de Grado Pendiente por Revisión de Consejo de Escuela </h1>
            </div>
            <!-- Entrega de Revisiones para tutor academico -->
            <div *ngIf="hasGraduateWork && graduateWorkList?.graduateWorkStatusCode == 50 || graduateWorkList?.graduateWorkStatusCode == 51 && isFinalSubmittion == false " style="background-color: #fbfbfb; height: 81%; display: flex; flex-direction: column;">
              
              <mat-card class="example-card">
                <mat-card-content>
                  <h2 style="display: flex; justify-content: center;">Tiempo restante para entrega</h2>
              
                  <section class="example-section">
                    <p>Ha transcurrido {{((daysRemaining)*100/150).toFixed(2)}}%  del tiempo para la entrega final le quedan {{150 - daysRemaining}} dias</p>
                    <mat-progress-bar
                        class="example-margin"
                        color="primary"
                        mode="determinate"
                        
                        [value]="(daysRemaining)*100/150">
                    </mat-progress-bar>
                  </section>
                  <section style="height: 40%; margin-top: 20px;">
                    <h1> Ya han transcurrido las 20 semanas, por favor haga entrega de su informe final al coordinador de practicas profesionales </h1>
                  </section>
        
                </mat-card-content>
              </mat-card>
        
            </div>
      
            <div *ngIf="graduateWorkList?.graduateWorkStatusCode == 60" style="background-color: #fbfbfb; display: flex; align-items: center; justify-content: center; flex-direction: column; height: 82%;">
              <h1>Pendiente por Asignacion de Jurado</h1>
            </div>
        
            <div *ngIf="graduateWorkList?.graduateWorkStatusCode == 70" style="background-color: #fbfbfb; display: flex; align-items: center; justify-content: center; flex-direction: column; height: 82%;">
              <h1>Pendiente por Asignacion de Fecha de Defensa</h1>
            </div>
        
        
            <div *ngIf="graduateWorkList?.graduateWorkStatusCode == 80" style="background-color: #fbfbfb; display: flex; align-items: center; justify-content: center; flex-direction: column; height: 82%;">
              <h1>Su jurado ha sido asignado y la defensa tomara lugar en {{this.currentGraduateWork.graduateWorkDefenseLocation}}</h1>
              <h1>La Fecha designada es: {{defenseDate.toUTCString()}}</h1>
            </div>
        
            <div *ngIf="graduateWorkList?.graduateWorkStatusCode == 81" style="background-color: #fbfbfb; display: flex; align-items: center; justify-content: center; flex-direction: column; height: 82%;">
              <h1>El Jurado esta deliberado su Trabajo de Grado</h1>
            </div>
        
            <div *ngIf="graduateWorkList?.graduateWorkStatusCode == 90" style="background-color: #fbfbfb; display: flex; align-items: center; justify-content: center; flex-direction: column; height: 82%;">
              <h1>Para Culminar su proceso de Trabajo de Grado haga entrega del CD y los recaudos faltantes</h1>
            </div>
        
            <div *ngIf="graduateWorkList?.graduateWorkStatusCode == 100" style="background-color: #fbfbfb; display: flex; align-items: center; justify-content: center; flex-direction: column; height: 82%;">
              <h1>Usted ha culminado su proceso de trabajo de grado</h1>
              <h2>Aqui termina tu viaje Ing.</h2>
            </div>
        
      
      </mat-drawer-content>
  </mat-drawer-container>

  <app-footer></app-footer>
</div>

