<h2 mat-dialog-title>Datos asociados al Trabajo De Grado</h2>
<mat-dialog-content class="mat-typography">

  <h3 *ngIf="inputdata.studentData.length < 2 && cargadoArchivos == false"><strong>Datos del estudiante</strong></h3>
  <h3 *ngIf="inputdata.studentData.length > 1 && cargadoArchivos == false"><strong>Datos de los estudiantes</strong></h3>

  <mat-divider *ngIf="cargadoArchivos == false"></mat-divider>

  <p *ngIf="cargadoArchivos == false">{{'Nombre completo: ' + inputdata.studentData[0]?.userLastName + ', ' + inputdata.studentData[0]?.userFirstName }}</p>
  <p *ngIf="cargadoArchivos == false">{{'Cedula de identidad: ' + inputdata.studentData[0]?.userDNI }}</p>
  <p *ngIf="cargadoArchivos == false">{{'Correo UCAB: ' +inputdata.studentData[0]?.userEmail}}</p>
  <p *ngIf="cargadoArchivos == false">{{'Número de teléfono: ' + inputdata.studentData[0]?.userPhone }}</p>

  <mat-divider *ngIf="inputdata.studentData.length > 1 && cargadoArchivos == false"></mat-divider>

  <p *ngIf="inputdata.studentData.length > 1 && cargadoArchivos == false">{{'Nombre completo: ' + inputdata.studentData[1]?.userLastName + ', ' + inputdata.studentData[1]?.userFirstName }}</p>
  <p *ngIf="inputdata.studentData.length > 1 && cargadoArchivos == false">{{'Cedula de identidad: ' + inputdata.studentData[1]?.userDNI }}</p>
  <p *ngIf="inputdata.studentData.length > 1 && cargadoArchivos == false">{{'Correo UCAB: ' +inputdata.studentData[1]?.userEmail}}</p>
  <p *ngIf="inputdata.studentData.length > 1 && cargadoArchivos == false">{{'Número de teléfono: ' + inputdata.studentData[1]?.userPhone }}</p>

  <h3 *ngIf="cargadoArchivos == false"><strong>Datos del Trabajo de Grado</strong></h3>
  <mat-divider *ngIf="cargadoArchivos == false"></mat-divider>

  <p *ngIf="cargadoArchivos == false">{{'Título: ' + inputdata.graduateWorkData?.graduateWorkTitle }}</p>
  <p *ngIf="cargadoArchivos == false">{{'Tipo: ' + inputdata.graduateWorkData?.graduateWorkType }}</p>
  <p *ngIf="cargadoArchivos == false">{{'Organización donde se realizará: ' + enterpriseData?.enterpriseName }}</p>
  <p *ngIf="cargadoArchivos == false">{{'Tutor Academico: ' + coordinatorData?.userLastName + ", " + coordinatorData?.userFirstName}}</p>

  <h3 *ngIf="cargadoArchivos == false"><strong>Seleccione El consejo de escuela</strong></h3>

  <mat-form-field style="width: 100%;" *ngIf="cargadoArchivos == false">
    <mat-label>Seleccione el consejo de escuela</mat-label>
    <mat-select [(value)]="councilSelected">
      <mat-option *ngFor="let council of councilList" [value]="council?.schoolCouncilId">
        {{ council?.schoolCouncilId }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h3 *ngIf="cargadoArchivos == false"><strong>Seleccione a los jurados principales</strong></h3>
  <mat-form-field style="width: 100%;" *ngIf="cargadoArchivos == false">
    <mat-label>{{ coordinatorData?.userLastName + ", " + coordinatorData?.userFirstName}}</mat-label>
    <mat-select disabled="true">
      <mat-option [value]="coordinatorData?.userFirstName">
        {{ coordinatorData?.userFirstName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-divider *ngIf="cargadoArchivos == false"></mat-divider>

  <mat-form-field style="width: 100%;" *ngIf="cargadoArchivos == false">
    <mat-label>Seleccione un jurado</mat-label>
    <mat-select [(value)]="jurySelected" (selectionChange)="juryListHandler(jurySelected)">
      <mat-option *ngFor="let jury of juryList" [value]="jury?.userDNI">
        {{ jury?.userlastname + ', ' + jury?.userfirstname }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%;" *ngIf="cargadoArchivos == false">
    <mat-label>Seleccione un jurado</mat-label>
    <mat-select [(value)]="jurySelected2" (selectionChange)="juryListHandler(jurySelected2)">
      <mat-option *ngFor="let jury of juryList" [value]="jury.userDNI" >
        {{ jury?.userlastname + ', ' + jury?.userfirstname }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <h3 *ngIf="cargadoArchivos == false"><strong>Seleccione a los jurados auxiliares</strong></h3>
  <mat-divider  *ngIf="cargadoArchivos == false"></mat-divider>
  <mat-form-field style="width: 100%;" *ngIf="cargadoArchivos == false">
    <mat-label>Select Role</mat-label>
    <mat-select [(value)]="jurySelected3" (selectionChange)="juryListHandler(jurySelected3)">
      <mat-option *ngFor="let jury of juryList" [value]="jury.userDNI">
        {{ jury?.userlastname + ', ' + jury?.userfirstname }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 100%;" *ngIf="cargadoArchivos == false">
    <mat-label>Select Role</mat-label>
    <mat-select [(value)]="jurySelected4" (selectionChange)="juryListHandler(jurySelected4)">
      <mat-option *ngFor="let jury of juryList" [value]="jury.userDNI">
        {{ jury?.userlastname + ', ' + jury?.userfirstname }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
    <mat-spinner *ngIf="cargadoArchivos == true"></mat-spinner>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close *ngIf="cargadoArchivos == false">Cancel</button>
  <button mat-button style="background-color: green;" cdkFocusInitial (click)="createJury()" *ngIf="cargadoArchivos == false">Asignar jurado</button>
  <!-- <button mat-raised-button color="primary" cdkFocusInitial (click)="generarNotificaciones()">Generar Notificaciones</button> -->
</mat-dialog-actions>