<h2 mat-dialog-title>Datos asociados al Trabajo de Grado</h2>
<mat-dialog-content class="mat-typography">
  <p><strong>Datos del estudiante</strong></p>
  <mat-divider></mat-divider>
  <p>{{'Nombre completo: ' + inputdata.studentData[0].userLastName + ', ' + inputdata.studentData[0].userFirstName }}</p>
  <p>{{'Cedula de identidad: ' + inputdata.studentData[0].userDNI }}</p>
  <p>{{'Correo UCAB: ' +inputdata.studentData[0].userEmail}}</p>
  <p>{{'Número de teléfono: ' + inputdata.studentData[0].userPhone }}</p>

  <p><strong>Datos del Trabajo de Grado</strong></p>
  <mat-divider></mat-divider>
  <p>{{'Título: ' + inputdata.graduateWorkData.graduateWorkTitle }}</p>
  <p>{{'Tipo: ' + inputdata.graduateWorkData.graduateWorkType }}</p>
  <p>{{'Organización donde se realizará: UCAB' }}</p>
  <p>{{'Posible tutor academico: Medina, Luz E.'}}</p>

  <p><strong>Seleccione la fecha y la hora de la defensa</strong></p>
  <mat-divider></mat-divider>
  <mat-form-field style="width: 100%;" [formGroup]="myForm">
    <mat-label>Escoja la fecha y hora de la defensa</mat-label>
    <input matInput type="datetime-local"  formControlName="time" (dateChange)="selectedDate($event)">
    <mat-hint>MM/DD/YYYY</mat-hint>
  </mat-form-field>
  <p><strong>Ingrese el lugar de la defensa</strong></p>
  <mat-form-field style="width: 100%;" [formGroup]="myForm">
    <mat-label>Ingrese el lugar de la defensa</mat-label>
    <input matInput type="text" formControlName="location">
  </mat-form-field>
  


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button style="background-color: green;" cdkFocusInitial (click)="setDefenseDate()">Designar defensa</button>
</mat-dialog-actions>
