<h2 mat-dialog-title>Datos asociados a la propuesta</h2>
<mat-dialog-content class="mat-typography">
  <p *ngIf="studentCount < 2"><strong>Datos del estudiante</strong></p>
  <p *ngIf="studentCount >= 2"><strong>Datos de los estudiantes</strong></p>
  <mat-divider></mat-divider>
  <p>{{'Nombre completo: ' + inputdata.userData[0].userLastName + ', ' + inputdata.userData[0].userFirstName }}</p>
  <p>{{'Cedula de identidad: ' + inputdata.userData[0].userDNI }}</p>
  <p>{{'Correo UCAB: ' +inputdata.userData[0].userEmail}}</p>
  <p>{{'Número de teléfono: ' + inputdata.userData[0].userPhone }}</p>
  <mat-divider *ngIf="studentCount >= 2"></mat-divider>
  <p *ngIf="studentCount >= 2">{{'Nombre completo: ' + inputdata.userData[1].userLastName + ', ' + inputdata.userData[1].userFirstName }}</p>
  <p *ngIf="studentCount >= 2">{{'Cedula de identidad: ' + inputdata.userData[1].userDNI }}</p>
  <p *ngIf="studentCount >= 2">{{'Correo UCAB: ' +inputdata.userData[1].userEmail}}</p>
  <p *ngIf="studentCount >= 2">{{'Número de teléfono: ' + inputdata.userData[1].userPhone }}</p>
  <p *ngIf="studentCount >= 2"><strong>Datos del Trabajo de Grado</strong></p>
  <mat-divider></mat-divider>
  <p>{{'Título: ' + inputdata.graduateWorkData.graduateWorkTitle }}</p>
  <p>{{'Tipo: ' + inputdata.graduateWorkData.graduateWorkType }}</p>
  <p>{{'Organización donde se realizará: ' + enterpriseData?.enterpriseName }}</p>
  <p>{{'Posible tutor academico: ' + coordinatorData?.userLastName + ', ' + coordinatorData?.userFirstName }}</p>

  <form [formGroup]="councilForm">
    <p><strong>Seleccione el Consejo de Escuela</strong></p>
    <mat-divider></mat-divider>
    <mat-form-field style="width: 100%;">
      <mat-label>Consejo de Escuela...</mat-label>
      <mat-select [value]="councilSelected" formControlName = "schoolCouncilId">
        <mat-option *ngFor="let council of councilList" [value]="council.schoolCouncilId">
          {{council.schoolCouncilId}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p><strong>Seleccione el Tutor Académico</strong></p>
    <mat-divider></mat-divider>
    <mat-form-field style="width: 100%;">
      <mat-label>Tutor Académico...</mat-label>
      <mat-select [value]="academicTutorSelected" formControlName = "academicTutorDNI">
        <mat-option *ngFor="let professor of professorList" [value]="professor.userDNI">
          {{professor.userLastName + ", " + professor.userFirstName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button style="background-color: red;"  [mat-dialog-close]="true" cdkFocusInitial (click)="veredictoPropuesta('rechazar')">Rechazar</button>
  <button mat-button style="background-color: green;" cdkFocusInitial (click)="veredictoPropuesta('aprobar')">Aprobar</button>
  <!-- <button mat-raised-button color = "primary" [mat-dialog-close]="true" cdkFocusInitial (click)="generarPlanillas()">Generar Planillas</button> -->

</mat-dialog-actions>
