<mat-drawer-container style="width: 100%; background-color: antiquewhite; margin: 0px 0 px; border: 1px solid #555; height: 77%;">
    <mat-drawer mode="side" opened style="width: 20%;">
        
        
        <mat-list role="list">
            <div mat-subheader>;<strong>Procesos de Pasantía</strong></div>
            <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/intership/proposals">Propuestas</button></mat-list-item>
            <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/intership/council">Consejo</button></mat-list-item>
            <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/intership/juries">Evaluacion de Tutores</button></mat-list-item>
            <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/intership/completion">Entrega de Informe Final</button></mat-list-item>
        </mat-list>

        <mat-divider style="width: 100%;"></mat-divider>

        <mat-list role="list">
            <div mat-subheader>;<strong>Criterios</strong></div>
            <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/intership/criteria/corporative/tutor">Tutor Empresarial</button></mat-list-item>
            <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/intership/criteria/academic/tutor">Tutor Académico</button></mat-list-item>
        </mat-list>
    
    </mat-drawer>
    <mat-drawer-content>
        
        Main content
    
    </mat-drawer-content>
</mat-drawer-container>
  