<div style="background-color: aliceblue; width: 100%; height: 100%;">
    <app-navbar></app-navbar>

    <div style="background-color: rgb(255, 161, 127); width: 100%; height: 77%;">
        <mat-drawer-container style="height: 100%;">
            <mat-drawer mode="side" opened style="width: 300px;">
                <mat-list role="list">
                    <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/graduate-work/outsider/professorReviewer">Tutor Empresarial</button></mat-list-item>
                    <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/graduate-work/outsider/jury">Jurado</button></mat-list-item>
                  </mat-list>
            </mat-drawer>
            <mat-drawer-content style="display: flex; align-items: center; justify-content: center;">
                
                  <h1>Ni idea que poner aqui</h1>
               
    
            </mat-drawer-content>
        </mat-drawer-container>
    </div>

    
    <app-footer></app-footer>
</div>

