<h2 mat-dialog-title>Evaluación en Consejo de Escuela</h2>
<mat-dialog-content class="mat-typography">
    <h3 *ngIf="cargadoArchivos == false"><strong>Datos de la pasantía</strong></h3>
    <mat-divider *ngIf="cargadoArchivos == false"></mat-divider>
    <p *ngIf="cargadoArchivos == false"><strong>Titulo de la pasantía: </strong> {{inputdata.pasantia.intershipTitle}}</p>
    <p *ngIf="cargadoArchivos == false"><strong>Estudiante:</strong> {{studentData?.userLastName + ", " + studentData?.userFirstName}}</p>
    <p *ngIf="cargadoArchivos == false"><strong>Organización donde se realizará:</strong> {{enterpriseData?.enterpriseName}}</p>
    <p *ngIf="cargadoArchivos == false"><strong>Tutor Empresarial:</strong> {{corporateTutorData?.userLastName + ", " + corporateTutorData?.userFirstName}}</p>
    <p *ngIf="cargadoArchivos == false"><strong>Fecha de Inicio:</strong> {{this.inputdata.pasantia.intershipStartDate}}</p>
    <p *ngIf="cargadoArchivos == false"> <strong>Fecha de Culminación:</strong> {{this.inputdata.pasantia.intershipCompletionDate}}</p>
    <h3 *ngIf="cargadoArchivos == false"><strong>Descargar propuesta de pasantía</strong></h3>
    <mat-divider *ngIf="cargadoArchivos == false"></mat-divider>
    <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px;" *ngIf="cargadoArchivos == false">
      <button mat-raised-button style="padding-top: 10px; padding-bottom: 10px;" (click)="descargarPropuestaPasantiaAlumno()">Descargar Propuesta de Pasantía</button>
    </div>
    
    <form [formGroup]="pasantiaForm" *ngIf="cargadoArchivos == false">
      <h3 style="margin-top: 10px;"><strong>Seleccione un consejo de escuela</strong></h3>
      <mat-divider></mat-divider>
      <mat-form-field style="width: 100%;">
        <mat-label>Consejo de Escuela</mat-label>
        <mat-select formControlName = "consejoEscuela">
          <mat-option *ngFor="let council of councilList" [value]="council.schoolCouncilId">
              {{ council.schoolCouncilId }} 
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h3><strong>Seleccione un Tutor Académico</strong></h3>
      <mat-divider></mat-divider>
      <mat-form-field style="width: 100%;">
        <mat-label>Tutor Académico</mat-label>
          <mat-select formControlName = "tutorAcademico">
            <mat-option *ngFor="let professor of professorList" [value]="professor.userDNI">
                {{ professor.userLastName + ', ' + professor.userFirstName }} 
            </mat-option>
          </mat-select>
      </mat-form-field>
    </form>
    <div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
      <mat-spinner *ngIf="cargadoArchivos == true"></mat-spinner>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close *ngIf="cargadoArchivos == false">Cancel</button>
  <button mat-raised-button color="warn" (click)="rechazarPropuestaPasantia()" *ngIf="cargadoArchivos == false">Rechazar</button>
  <button mat-raised-button color="primary" (click)="aprobarPropuestaPasantia()" *ngIf="cargadoArchivos == false">Aprobar</button>
</mat-dialog-actions>