<div style="width: 100%; height: 100%;">
    <app-navbar></app-navbar>

    <mat-drawer-container style="width: 100%; background-color: antiquewhite; margin: 0px 0 px; border: 1px solid #555; height: 77%;">
        <mat-drawer mode="side" opened style="width: 20%;">
    
            <mat-list role="list">
                <div mat-subheader><strong>Archivos</strong></div>
                <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="">Trabajos de Grado</button></mat-list-item>
                <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="">Pasantías</button></mat-list-item>
                <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="">Actas de Consejo</button></mat-list-item>
            </mat-list>
        
        </mat-drawer>
        <mat-drawer-content>
     
              
        
        </mat-drawer-content>
    </mat-drawer-container>

    <app-footer></app-footer>
</div>