<h2 mat-dialog-title>Ingrese los datos del Consejo de Escuela</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="councilForm" style="display: flex; flex-direction: column;" *ngIf="cargadoArchivos == false">

        
        <mat-form-field class="full-width input-margin" *ngIf="!isEditMode">
            <mat-label>Ingrese el código de Consejo de Escuela:</mat-label>
            <input formControlName = "schoolCouncilId" matInput placeholder="CE O 001-2024-2025" value = "">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <mat-label>Ingrese la fecha de Consejo</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="schoolCouncilDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <mat-label>Seleccione el tipo de Consejo de Escuela</mat-label>
            <mat-select formControlName = "schoolCouncilType">
              <mat-option  value="ORDINARIO">Ordinario</mat-option>
              <mat-option  value="EXTRAORDINARIO">Extraordinario</mat-option>
            </mat-select>
        </mat-form-field>
        <div style="height: 50%;" *ngIf="data?.mode !== 'EDITAR'">
            <h3 style="margin-top: 15px;">Cargue el Acta de Consejo de Escuela</h3>
            <mat-divider></mat-divider>
            <input style = "margin-top:  10px;" type="file" formControlName="councilFile" id = "fileInput" name="fileInput" (change)="onFileSelected($event)">
        </div>
      
    </form>

    <div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
        <mat-spinner *ngIf="cargadoArchivos == true"></mat-spinner>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close *ngIf="cargadoArchivos == false">Cancel</button>
  <button mat-raised-button color="primary" (click)="agregarConsejo()" *ngIf="data.mode == 'CREAR' && cargadoArchivos == false">Agregar Consejo</button>
  <button mat-raised-button color="primary" (click)="modificarConsejo()" *ngIf="data != null && data.mode == 'EDITAR' && cargadoArchivos == false">Modificar Consejo</button>
</mat-dialog-actions>