<h2 mat-dialog-title>Asignacion de Profesor Revisor</h2>
<mat-dialog-content class="mat-typography">

  <p *ngIf="cargadoArchivos == false"><strong>Seleccione el Profesor Revisor</strong></p>
  <mat-divider *ngIf="cargadoArchivos == false"></mat-divider>
  <form [formGroup]="reviewerForm" *ngIf="cargadoArchivos == false">
    <mat-form-field style="width: 100%;">
        <mat-label>Profesor Revisor</mat-label>
        <mat-select [value]="reviewerSelected" formControlName = "reviewer" (selectionChange)="onSelectionChange()">
            <mat-option *ngFor="let professor of professorsList" [value]="professor.userDNI">
                {{ professor.userlastname + ', ' + professor.userfirstname }} 
            </mat-option>
        </mat-select>
    </mat-form-field >
  </form>

  <p *ngIf="cargadoArchivos == false"><strong>Seleccione el Cómite de Trabajo de Grado</strong></p>
  <mat-divider *ngIf="cargadoArchivos == false"></mat-divider>
  <form [formGroup]="committeeForm" *ngIf="cargadoArchivos == false">
    <mat-form-field style="width: 100%;">
        <mat-label>Comite de Trabajo de Grado</mat-label>
        <mat-select [value]="committeeSelected" formControlName = "committeeId" (selectionChange)="onSelectionChange()">
            <mat-option *ngFor="let committee of committeeList" [value]="committee.committeeId">
                {{  
                    committee.committeeId
                }} 
            </mat-option>
        </mat-select>
    </mat-form-field >
  </form>

  <div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
    <mat-spinner *ngIf="cargadoArchivos == true"></mat-spinner>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close *ngIf="cargadoArchivos == false">Cancel</button>
  <button mat-button style="background-color: red;" cdkFocusInitial (click)="veredictoPropuesta('rechazar')" *ngIf="cargadoArchivos == false">Rechazar</button>
  <button mat-button style="background-color: green;" cdkFocusInitial (click)="veredictoPropuesta('aprobar')" *ngIf="cargadoArchivos == false">Enviar a Profesor Revisor</button>
  <!-- <button mat-button style="background-color: green;" cdkFocusInitial (click)="obtenerInformePropuesta()">Obtener Informe</button> -->

</mat-dialog-actions>
